* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a; 
    color: #edf0f1;    
    display: flexbox;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    margin: auto;
    display: flexbox;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: insert;
    border-width: 2px;
    border-color: teal;
}

.textbreak {
    color: rgb(107, 107, 107);
    border: 1px rgb(107, 107, 107);
    margin-bottom: 5px;
}

.background, .bio, .education {
    display: flexbox;
    justify-content: center;
}

.bio, .about_bio_header, .about_bio_row, .about_bio_column_left, .about_bio_column_right {

    width: 100%;
    padding: 10px 10px 10px 10px;
}

.background {
    padding: 10px 0px 10px 0px;
}

.certificates {
    padding: 10px;
}

.education, .education_header, .education1_right, .education1_left, .education2_left, .education2_right {
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.background, .background_header, .backgroundtext {
    text-align: center;
    background-color: rgb(79, 91, 102);
    align-content: flex-end;

}

.certificates, .certificate_header, .certificatetext {
    background-color: rgb(79, 91, 102);
}


li, a, button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
} 

.nav_links, .footer_links {
    list-style: none;
}

.nav_links li, .footer_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a, .footer_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: teal;
}

button {
    padding: 9px 25px;
    background-color:teal;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease 0s;
}

button:hover {
    background-color: rgb(219, 0, 128);
}

.about_bio_header, .background_header, .education_header, 
.certificate_header, .expheader, .skillsheader {
    text-align: center;
}

.about_bio_column_left {
    float: left;
    width: 300px;
}

.about_bio_column_right {
    float: left;
    width: 620px;
}

.about_bio_row:after {
    content: "";
    display: block;
    clear: both;
}

.background_column1, .background_column2, .background_column3 {
    width: 300px;
    float: left;
    margin: 10px;
    background-color: rgb(107, 107, 107);
}

.background:after {
    content: "";
    display: block;
    clear: both;
}

.education {
    margin-top: inherit;
    display: block; 
    box-sizing: border-box;
}

.education1:after {
    content: "";
    display: block;
    clear: both;
}

.education2:after {
    content: "";
    display: block;
    clear: both;
}

.education1_left, .education2_left {
    float: left;
    width: 50%;
}

.education1_right, .education2_right {
    float: left;
    width: 50%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
    text-align: center;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-github {
    background:purple;
    color: white;
    text-align: center;
  }
  
.expheader, .ng, .vw {
    padding: 10px;
}

.skills, .skillsheader, .skillsrow, .skills_left, 
.skills_right, .industrylist, .skillsetslist, .skillstext {
    background-color: rgb(107, 107, 107);
}

.skillsrow {
    column-count: 2;
    column-span: all;
    text-align: center;
    padding: 10px;
}

.industrylist, .skillsetslist {
    list-style: none;
}

.projects, .ibm, .portfolio {
    padding: 10px;
}

.projectsheader {
    text-align: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: teal;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(219, 0, 128);
}

.contact {
    border-radius: 5px;
    padding: 20px;
}

.message {
    padding-bottom: 20px;
}

